$pulse-light-yellow:#F8F31D;
$pulse-dark-yellow: #FACC00;
$pulse-primary-color:#593196;
$pulse-secondary-color:#A991D4;

.cartIcon{
    position: relative;
    cursor: pointer;
    border:1px solid transparent;
    padding:0px;

    span{
        position: absolute;
        top:10%;
        right:15px;
        background-color: $pulse-light-yellow;
        height:21px;
        width:21px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border-radius: 50%;
        font-size: 13px;

        &.hidden{
            visibility: hidden;
        }
    }
    

    &:hover{
        border:1px solid $pulse-dark-yellow
    }
}

.closeIcon{
    cursor: pointer;

    &:hover{
        background-color: $pulse-primary-color;
        color:$pulse-dark-yellow !important;
    }
}

@media(max-width:992px){
    .cartIcon{
        span{
            left: 20px;
        }
    }
}