$pulse-light-yellow:#F8F31D;

.cartIcon{
    position: relative;
    cursor: pointer;

    span{
        position: absolute;
        top:-10%;
        right:0px;
        background-color: $pulse-light-yellow;
        height:20px;
        width:20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        border-radius: 50%;
        font-size: 10px;
        
    }
}

@media(max-width:992px){
    .cartIcon{
        span{
            left: 20px;
        }
    }
}