$pulse_light_grey:#E5E5E5;

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    right:0;
    transition: right 0.3s;

    main{
        flex-grow: 1;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    &.containerCollapsed{
        right:380px;
        overflow:hidden;
        background-color:$pulse_light_grey;

        main,footer{
            pointer-events: none;
            filter: blur(1.5px);
        }
    }
}

@media(max-width:768px){
    .container{
        &.containerCollapsed{
            right:768px;
        }
    }
  }