@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');

*{
    box-sizing: border-box;
    font-family: 'B612', sans-serif; 

}
a:hover{
    text-decoration: none;
}

.nav-link.active{
    color:#593196 !important;
}
.nav-link:hover{
    color:#593196 !important;
}