$pulse-light-yellow: #f8f31d;
$pulse-dark-yellow: #facc00;
$pulse-primary-color: #593196;
$pulse-secondary-color: #a991d4;

.card {
  width: 18rem;
  overflow: hidden;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &:hover {
    background-color: #fbf9fc;
  }
}

.cardImgBox {
  border-bottom: 1px solid #e9ecef;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 18rem;
  width: 18rem;
}
.cardImg {
  max-width: 80%;
  height: auto;
  &:hover {
    transform: scale(1.04);
    transition: transform 0.1s;
  }
}

.sidebar {
  background-color: $pulse-primary-color;
  position: fixed;
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  .rotatedText {
    color: white;
    font-size: 2rem;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
  }
}


@media(max-width:768px){
    .sidebar{
        display: none;
    }
}