.layout{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.sideCard{
    max-width: 400px;
    // border:1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.description{
    font-size: large;
}

.card{   
    border:1px solid rgba(0,0,0,0.125);
    height:100%;
    width:100%;

    img{
        max-width: 23rem;
        max-height: 23rem;
    }
}
.price {
    font-weight: 900;
    font-size: large;
}

@media(max-width:576px){
    .card{
        img{
            max-width: 100%;
            height: auto;
        }
    }
}

@media(max-width:992px){
    .sideCard{
        margin-top: 2rem;
    }
}