.pulse_primary_color{
    color:#593196;
}
.pulse_text_secondary{
    color: #A991D4;
}

.custom_flex_row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
